body {
  background: #ebdcb2;
  font-family: "Comfortaa", sans-serif;
  max-width: 100%;
}
:root {
  --primary-color: #af4425;
  --secondary-color: #662e1c;
  --third-color: #c9a66b;
  --forth-color: #ebdcb2;
  --box-shadow: 5px 5px 10px rgba(104, 101, 114, 0.3);
}
.my-photo {
  margin: 30px auto;
  padding: 0;
  border-radius: 50%;
  overflow: hidden;
}
.photo-in {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}
.photo {
  width: 40%;
  height: auto;
  text-align: center;
}
.hero {
  background-color: rgba(235, 220, 178, 0.2);
  margin-top: 56px;
  padding: 60px 80px;
}
h1 {
  color: var(--primary-color);
  font-size: 36px;
  font-weight: 800;
}
h2 {
  color: var(--secondary-color);
  font-size: 28px;
  font-weight: 500;
}
h3 {
  color: var(--third-color);
  font-size: 18px;
  font-weight: 400;
  opacity: 0.7;
}
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}
p {
  color: var(--secondary-color);
  font-size: 16px;
  margin: 0;
  padding: 0;
  text-align: justify;
}
ul {
  list-style-type: symbols(4);
}

.chakra {
  color: var(--secondary-color);
  font-size: 22px;
  font-weight: 500;
  font-style: italic;
}
.name {
  color: var(--primary-color);
  font-size: 22px;
  font-style: bold;
}
.describ {
  color: var(--secondary-color);
  font-size: 16px;
  margin: 0;
  padding: 0;
  text-align: justify;
}
.describtion {
  font-style: italic;
  font-size: 14px;
}
.navigation-links {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.navigation-links a {
  margin: 0 20px;
}
.primary-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  padding: 15px;
  text-decoration: none;
  border-radius: 4px;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}
.primary-link:hover {
  opacity: 0.7;
}
.secondary-link {
  text-transform: capitalize;
  color: var(--primary-color);
  padding: 20px 15px;
  text-decoration: none;
  border-radius: 4px;
  border: 1px solid var(--primary-color);
  transition: all 200ms ease-in-out;
  cursor: pointer;
}
.secondary-link:hover {
  opacity: 0.7;
  cursor: pointer;
}
.contact-link {
  color: var(--primary-color);
  font-size: 18px;
  text-decoration: none;
}
.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
  padding: 0;
  margin: 0;
}
.email-link:hover {
  text-decoration: underline;
}
.contacts {
  display: flex;
  justify-content: space-evenly;
  margin: 30px 30% 0px 30%;
  color: var(--secondary-color);
}
.contact a {
  color: var(--secondary-color);
}
.g {
  color: var(--primary-color);
  font-size: 26px;
  padding: 8px 14px;
  transition: all 100ms ease-in-out;
  vertical-align: middle;
}
#zero {
  color: rgb(255, 0, 0);
  vertical-align: middle;
}
#one {
  color: rgb(255, 145, 0);
}
#two {
  color: rgba(245, 229, 1, 0.747);
}
#three {
  color: rgb(12, 117, 9);
}
#four {
  color: rgb(0, 153, 255);
}
#five {
  color: rgb(52, 38, 248);
}
#six {
  color: rgb(150, 69, 175);
}
.navbar {
  background-color: #ebdcb2;
}
nav {
  padding: 10px 0;
}
.dropdown-menu {
  background-color: var(--forth-color) !important;
  font-size: 14px;
  padding: 10px 0;
  margin: 0;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  list-style-type: none;
  line-height: 40px;
  margin-left: 15px;
  font-size: 16px;
}
nav a {
  color: var(--primary-color) !important;
}
nav a:hover,
nav li.active a {
  color: var(--secondary-color) !important;
  background-color: var(--forth-color) !important;
  opacity: 0.7;
  transition: all 100ms ease-in-out;
}
.logo {
  max-height: 40px;
}

footer .social-links {
  text-align: center;
  margin-top: 30px;
}
.links p {
  font-size: 12px;
}
footer .social-links a {
  text-decoration: none;
  color: var(--primary-color);
  margin: 0 20px;
  padding: 8px 14px;
  transition: all 100ms ease-in-out;
}
footer .social-links a:hover {
  color: var(--secondary-color);
}
footer .primary-link {
  vertical-align: middle;
}
@media (max-width: 420px) {
  h3 {
    margin: 0 10px;
  }
  p {
    padding: 0;
    font-size: medium;
  }
  .my-photo {
    margin: 5px auto;
    padding: 0;
    border-radius: 50%;
    overflow: hidden;
    width: 100%;
  }
  .hero {
    margin-top: 56px;
    padding: 30px 30px;
  }
}
nav {
  font-size: 12px;
}
footer .contact-box {
  padding: 30px;
}
footer h4 {
  font-size: 16px;
}
.container-main img {
  display: flex;
  margin: 0 auto;
}
.container-main h2 {
  text-align: center;
}
.arrows {
  width: 30%;
  height: auto;
}
.navigation-links {
  block-size: 50px;
}
