body {
  background: #ebdcb2;
  font-family: "Roboto", sans-serif;
  max-width: 100%;
}
:root {
  --primary-color: #af4425;
  --secondary-color: #662e1c;
  --third-color: #c9a66b;
  --forth-color: #ebdcb2;
  --box-shadow: 5px 5px 10px rgba(104, 101, 114, 0.3);
}
.my-photo {
  margin: 30px auto;
  padding: 0;
  border-radius: 50%;
  overflow: hidden;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.diplom {
  max-width: 400px;
}
.hero {
  background-color: rgba(235, 220, 178, 0.2);
  margin-top: 56px;
  padding: 60px 20px;
}
.hero ul {
  margin: 0 30px;
  padding: 0;
  list-style-type: style type;
}
.main {
  padding: 0 20px;
  margin-top: 10px;
}
.skils {
  margin-top: 0;
  text-align: justify;
  padding: 10px 30px 30px 30px;
}
.underline {
  text-decoration: underline;
  font-weight: 500;
}

#color-third {
  color: var(--third-color);
  font-size: 22px;
}
.container-main {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
h1 {
  color: var(--primary-color);
  font-size: 36px;
  font-weight: 600;
}
h2 {
  color: var(--secondary-color);
  font-size: 36px;
  font-weight: 500;
}
h3 {
  color: var(--third-color);
  font-size: 18px;
  font-weight: 400;
  opacity: 0.7;
}
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}
p {
  color: var(--secondary-color);
  font-size: 16px;
  font-weight: 300;
  padding: 10px 50px;
  margin: 0;
  text-align: justify;
}
.navigation-links {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.navigation-links a {
  margin: 0 20px;
}
.primary-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  padding: 15px;
  text-decoration: none;
  border-radius: 4px;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}
.primary-link:hover {
  opacity: 0.7;
}
.secondary-link {
  text-transform: capitalize;
  color: var(--primary-color);
  padding: 20px 15px;
  text-decoration: none;
  border-radius: 4px;
  border: 1px solid var(--primary-color);
  transition: all 200ms ease-in-out;
  cursor: pointer;
}
.secondary-link:hover {
  opacity: 0.7;
  cursor: pointer;
}
.contact-link {
  color: var(--primary-color);
  font-size: 18px;
  text-decoration: none;
}
.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
  padding: 0;
  margin: 0;
}
.email-link:hover {
  text-decoration: underline;
}
.contacts {
  display: flex;
  justify-content: space-evenly;
  margin: 30px 30% 0px 30%;
  color: var(--secondary-color);
}
.contact a {
  color: var(--secondary-color);
}

.about-section {
  margin: 80px 30px 30px 30px;
  text-align: center;
}
.about-section p {
  font-style: italic;
  text-align: justify;
}
.describtion {
  margin-top: 76px;
  padding: 20px 50px;
}
.diplomas {
  margin: 0 auto;
  display: block;
}
.git {
  color: var(--forth-color);
  font-size: 14px;
  text-align: center;
  padding: 0 40px;
}
.frontend {
  padding: 50px;
}
.navbar {
  background-color: #ebdcb2;
}
nav {
  padding: 10px 0;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  list-style-type: none;
  line-height: 30px;
  margin-left: 15px;
}
nav a {
  color: var(--primary-color) !important;
}
nav a:hover,
nav li.active a {
  color: var(--secondary-color) !important;
  opacity: 0.7;
  transition: all 100ms ease-in-out;
}
.logo {
  max-height: 40px;
}
footer .contact-box {
  background: rgba(0, 187, 240, 0.1);
  padding: 40px 60px;
  border-radius: 10px;
  margin: 40px;
}
footer .contact-box p {
  margin: 0;
}
footer .social-links {
  text-align: center;
  margin-top: 30px;
}
footer .social-links a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 18px;
  margin: 0 20px;
  background: rgba(0, 187, 240, 0.1);
  padding: 8px 14px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}
footer .social-links a:hover {
  color: var(--secondary-color);
}
footer .primary-link {
  vertical-align: middle;
}
@media (max-width: 420px) {
  h3 {
    margin: 0 10px;
  }
  .about-section {
    margin: 66px 20px 30px 20px !important;
    padding: 0;
  }
  nav {
    font-size: 12px;
  }
  footer .contact-box {
    padding: 30px;
  }
  footer h4 {
    font-size: 16px;
  }
  .container-main img {
    display: flex;
    margin: 0 auto;
  }
  .container-main h2 {
    text-align: center;
  }
  .arrows {
    width: 30%;
    height: auto;
  }
  .navigation-links {
    block-size: 50px;
  }
  .diplom {
    max-width: 300px;
    margin: 0 auto;
    display: block;
  }
}
